= simple_form_for(@ec2_volume, :html => { :class => "form-horizontal" } ) do |f|
  .form-inputs
    = f.input :volume_id, :label => "volume id"
    = f.input :description, :label => "描述"
    = f.input :rotate_count, :label => "最多備份數"
    = f.input :interval_days, :label => "備份區隔天數"
  .form-actions
    = f.submit :class => "btn btn-primary"
    = link_to "取消", ec2_volumes_path, :class => "btn"